.logo {
  color: var(--clr-primary-700);
  font-size: var(--fs-800);
  line-height: 1;
  font-weight: var(--fw-bold);
  text-decoration: none;
}

.logo span {
  color: var(--clr-accent-400);
}

@media (width < 765px) {
  .logo {
    font-size: var(--fs-600);
  }
}
