.error {
  position: absolute;
  align-self: center;
  bottom: 0;
  background-color: var(--clr-error);
  border-radius: 0.75rem;
  padding: 0.5rem 1.25rem;
  color: #f0f0f0;
  font-size: var(--fs-300);
  opacity: 0;
  transform: translateY(0);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.error[data-shown="true"] {
  opacity: 1;
  transform: translateY(-1.5rem);
  z-index: 2;
}
