.container {
  width: min(400px, 80vw);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  justify-content: center;
  color: var(--clr-text);
  background-color: var(--clr-body);
  position: relative;
  transition: color 0.3s ease, background-color 0.3s ease;
}

.container input {
  border: none;
  background-color: transparent;
  outline: none;
  border-bottom: 1px solid var(--clr-primary-700);
}

.container input:focus-within {
  border-bottom: 1px solid var(--clr-accent-400);
}
