.btn_create {
  border: 1px solid var(--clr-primary-700);
  color: var(--clr-primary-700);
  font-weight: var(--fw-semi-bold);
  border-radius: 0.75rem;
  padding: 0.25rem 1rem;
  transition: color 0.2s ease, border-color 0.2s ease;
  background-color: transparent;
}

.btn_create:hover,
.btn_create:focus-within {
  color: var(--clr-accent-400);
  border-color: var(--clr-accent-400);
}

.btn_create span {
  margin-left: 0.5rem;
}

@media (width < 765px) {
  .btn_create {
    border: none;
    font-size: var(--fs-500);
  }
}
