.logo {
  font-size: var(--fs-800);
  line-height: 1;
  font-weight: var(--fw-bold);
  text-decoration: none;
  color: var(--clr-text);
}

@media (width < 765px) {
  .logo {
    font-size: var(--fs-600);
  }
}
