.container {
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--clr-body);
  box-shadow: 0 4px 12px rgba(0, 59, 92, 0.15), 0 1px 3px rgba(0, 59, 92, 0.1);
  padding: 1rem;
  width: 100%;
  top: 0;
  z-index: 1000;
  height: 65px;
  margin-bottom: 0.5rem;
}

.nav_btns {
  display: flex;
  gap: 1rem;
}
