.page {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-bottom: 1.5rem;
}

.end_of_page {
  text-align: center;
  color: var(--clr-primary-700);
  font-weight: var(--fw-semi-bold);
  padding-bottom: 0.5rem;
}
