.container {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem 0.5rem 1rem;
}

.container > * {
  margin-bottom: 1rem;
}

.filters,
.form_group {
  display: flex;
  align-items: center;
}

.select_menu:hover,
.search_bar:hover {
  color: var(--clr-accent-400);
}

.select_menu,
.search_bar input {
  border: none;
  outline: none;
  background: var(--clr-body);
}

.select_menu {
  margin-right: 1rem;
  padding: 0.5rem;
  border-radius: 0.75rem;
  box-shadow: var(--shadow-small);
  cursor: pointer;
}

.search_bar {
  display: flex;
  border-radius: 0.75rem;
  box-shadow: var(--shadow-small);
}

.search_bar input {
  padding: 0.5rem 1rem;
  width: 260px;
  border-radius: 0.75rem 0 0 0.75rem;
}

.btn_search:hover {
  background-color: var(--clr-accent-400);
}

.btn_search {
  border-radius: 0 0.75rem 0.75rem 0;
  border: none;
  border-left: none;
  padding-inline: 1rem;
  background-color: var(--clr-primary-700);
  color: #f0f0f0;
  transition: background-color 0.3s ease;
}

.filters label {
  margin-right: 1rem;
  color: var(--clr-primary-700);
  font-weight: var(--fw-semi-bold);
}

@media (width < 850px) {
  .container {
    font-size: var(--fs-300);
    flex-direction: column;
  }

  .form_group {
    flex-direction: column;
    align-items: flex-start;
  }

  .search_bar input {
    width: 100%;
  }

  .select_menu {
    padding: 0.5rem 1rem;
  }

  .filters label {
    margin-left: 0.25rem;
    margin-bottom: 0.25rem;
  }
}
