.container {
  border-radius: 0.75rem;
  padding: 1rem;
  cursor: pointer;
  position: relative;
}

.container[data-expanded="true"] {
  cursor: auto;
  padding: 1rem 1rem 0.5rem 1rem;
}

.container[data-expanded="false"] {
  box-shadow: var(--shadow-large);
}

.post_upper {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.post_upper img {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  object-fit: cover;
}

.post_details {
  font-size: var(--fs-300);
  font-weight: var(--fw-semi-bold);
}

.post_controls {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: var(--fs-300);
  display: flex;
  gap: 0.25rem;
}

.post_controls button {
  border: none;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  background-color: transparent;
  transition: background-color 0.3s ease;
}

.post_controls button:hover {
  background-color: var(--clr-accent-400);
}

.categoryAndTime {
  display: flex;
  gap: 0.25rem;
  color: var(--clr-accent-400);
}

.category {
  text-transform: capitalize;
}

.category span {
  margin-left: 0.25rem;
}

.time {
  font-weight: var(--fw-regular);
  opacity: 0.9;
}

.name {
  color: var(--clr-primary-700);
}

.post_title {
  font-weight: var(--fw-bold);
  color: var(--clr-primary-700);
  font-size: var(--fs-500);
  margin-bottom: 0.25rem;
}

.post_body {
  margin-bottom: 0.5rem;
  display: -webkit-box; /* Use flexbox for multi-line text handling */
}

.container[data-expanded="false"] .post_body {
  -webkit-box-orient: vertical; /* Specify the box orientation */
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 4;
  line-clamp: 4;
}

.social_counters {
  display: flex;
  gap: 1rem;
  color: var(--clr-primary-700);
  align-items: center;
  font-weight: var(--fw-semi-bold);
  font-family: var(--ff-numbers);
}

.comment_count {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.comment_count i {
  position: relative;
  top: -1px;
}

@media (width < 765px) {
  .post_title {
    font-size: var(--fs-400);
  }

  .container {
    width: auto;
  }

  .container[data-expanded="false"] .post_body {
    -webkit-line-clamp: 2;
    line-clamp: 2;
  }
}
