.post_upper {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.post_upper img {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  object-fit: cover;
}

.post_details {
  font-size: var(--fs-300);
}

.categoryAndTime {
  display: flex;
  gap: 0.25rem;
}

.category {
  text-transform: capitalize;
  font-weight: var(--fw-bold);
}

.category span {
  margin-left: 0.25rem;
}
