.social_counters {
  display: flex;
  gap: 1rem;
  color: var(--clr-primary-700);
  align-items: center;
  font-weight: var(--fw-semi-bold);
  font-family: var(--ff-numbers);
}

.comment_count {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.comment_count i {
  position: relative;
  top: -1px;
}
