.btn_icon {
  background-color: transparent;
  border-radius: 50%;
  border: none;
  transition: color 0.3s ease;
  font-size: var(--fs-400);
  font-weight: var(--fw-bold);
  position: relative;
}

.btn_icon:focus-within,
.btn_icon:hover {
  color: var(--clr-accent-400);
}
